---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
---

<footer class="p-4-px lg:px-8-px lg:py-4-px border-t-8 border-solid border-blue-tory bg-lt-blue-light dark:bg-dk-purple">
  <div class="text-center">
    <button id="back-to-top" class="text-center button--alternative hover--border item--transition">
      <Icon name="arrow-up-circle-solid" class="h-12 w-12 mx-auto" />
      Back to top
    </button>
  </div>
  <div class="md:flex md:justify-between max-w-[1500px] mx-auto">
    <div class="flex items-center">
      <span class="logo-dark mr-2.5">
        <Image
          src="/sm-logo-darkblue.png"
          alt=""
          width={35}
          height={27}
          aria-hidden="true"
        />
      </span>
      <span class="logo-light mr-4">
        <Image
          src="/sm-logo-lightblue.png"
          alt=""
          width={35}
          height={27}
          aria-hidden="true"
        />
      </span>
      <a
        href="https://sanna.ninja"
        rel="noopener noreferrer"
        class="font-light"
      >
        My portfolio
      </a>
    </div>
    <div class="flex items-center">
      <span class="logo-dark mr-2.5">
        <Image
          src="/sm-logo-darkblue.png"
          alt=""
          width={35}
          height={27}
          aria-hidden="true"
        />
      </span>
      <span class="logo-light mr-4">
        <Image
          src="/sm-logo-lightblue.png"
          alt=""
          width={35}
          height={27}
          aria-hidden="true"
        />
      </span>
      <a
        href="https://a11y.sanna.ninja/en"
        rel="noopener noreferrer"
        class="font-light"
      >
        My accessibility site
      </a>
    </div>
  </div>
  <script is:inline src="/skip-content.js"></script>
</footer>

<script>
  const backToTop = document.querySelectorAll('#back-to-top');

  backToTop.forEach((button) => {
    button.addEventListener('click', () => {
      const target = document.getElementById('page-top');
      (target as HTMLElement).setAttribute('tabindex', '-1');
      (target as HTMLElement).focus();
    });
  });
</script>