---
import { Icon } from 'astro-icon/components';
---

<footer class="p-4-px lg:px-8-px lg:py-4-px border-t-8 border-solid border-blue-tory bg-lt-blue-light dark:bg-dk-purple">
  <div class="text-center">
    <button id="back-to-top" class="text-center button--alternative hover--border item--transition">
      <Icon name="arrow-up-circle-solid" class="h-12 w-12 mx-auto" />
      Back to top
    </button>
  </div>
  <div class="md:flex md:justify-between max-w-[1500px] mx-auto">
    <div class="flex items-center">
      <a
        href="https://sanna.ninja"
        rel="noopener noreferrer"
        class="font-light"
      >
        My portfolio
      </a>
    </div>
    <div class="flex items-center">
      <div class="flex flex-col">
        <div class="md:-ml-4">
          <Icon name="a11ying-dark" class="logo-dark" height="173" width="348" aria-hidden="true" />
          <Icon name="a11ying-light" class="logo-light" height="173" width="348" aria-hidden="true" />
        </div>
        <nav aria-label="A11ying sites">
          <ul class="m-0 p-0 pt-2">
            <li>
              <a
                href="https://a11y.ing"
                rel="noopener noreferrer"
                class="font-light block py-2"
              >
                I would if I could
              </a>
            </li>
            <li>
              <a
                href="https://wcag.a11y.ing"
                rel="noopener noreferrer"
                class="font-light block py-2"
              >
                Almost, but not quite
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <script is:inline src="/skip-content.js"></script>
</footer>

<script>
  const backToTop = document.querySelectorAll('#back-to-top');

  backToTop.forEach((button) => {
    button.addEventListener('click', () => {
      const target = document.getElementById('page-top');
      (target as HTMLElement).setAttribute('tabindex', '-1');
      (target as HTMLElement).focus();
    });
  });
</script>