---
import { Image } from 'astro:assets';
import dayjs from 'dayjs';
import type BlogData from '../interfaces/blogHighlight';

const { posts } = Astro.props as { posts: BlogData[] };
---

{posts.length > 0 && (
  <section aria-labelledby="related-posts-heading" class="mt-12 pt-8 border-t-4 border-solid border-lt-blue-dark dark:border-dk-blue-light">
    <h2 id="related-posts-heading" class="text-2xl lg:text-3xl font-bold mb-6">
      Related posts
    </h2>
    <ul class="grid grid-cols-1 gap-6 md:grid-cols-3 p-0 m-0" role="list">
      {posts.map((post) => (
        <li>
          <a href={`/${post.category.toLowerCase()}${post.slug}`}
            class="block border-2 border-transparent post-link hover:border-lt-purple dark:hover:border-dk-blue-light focus:outline focus:outline-4 focus:outline-offset-15 focus:outline-black dark:focus:outline-white"
          >
            <Image
              src={post.listingImage}
              alt=""
              width={690}
              height={404}
            />
            <div class="py-3">
              <span class="post-title block font-semibold text-lg leading-snug">
                {post.title}
              </span>
              <span class="block text-base mt-1 text-lt-gray dark:text-dk-gray">
                {dayjs(post.date).format('MMMM DD, YYYY')}
              </span>
            </div>
          </a>
        </li>
      ))}
    </ul>
  </section>
)}
